<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="ScheduledPublishing.sitecore.shell.Applications.ContentManager.Dialogs" assembly="ScheduledPublishing" 
              folder="/sitecore/shell/Applications/Content Manager/Dialogs/Schedule Publish" deep="true"/>
      <source mode="on" namespace="ScheduledPublishing.sitecore.shell.Applications.ContentManager.Dialogs" assembly="ScheduledPublishing"
              folder="/sitecore/shell/Applications/Content Manager/Dialogs/Edit Scheduled Publish" deep="true"/>
    </controlSources>
    <commands>
      <command name="custom:schedulePublish" type="ScheduledPublishing.Commands.OpenScheduledPublishDialog, ScheduledPublishing" />
      <command name="custom:editPublishSchedule" type="ScheduledPublishing.Commands.OpenEditScheduledPublishDialog, ScheduledPublishing" />
      <command name="custom:scheduleUnpublish" type="ScheduledPublishing.Commands.OpenScheduledPublishDialog, ScheduledPublishing" />
    </commands>
    <pipelines>
      <getContentEditorWarnings>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetContentEditorWarnings.HasNoVersions, Sitecore.Kernel']" type="ScheduledPublishing.Pipelines.ContentEditorWarnings.HasScheduledPublish, ScheduledPublishing" />
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>
