<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="ScheduledPublishing.sitecore.shell.Applications.ContentManager.Dialogs" assembly="ScheduledPublishing" 
              folder="/sitecore/shell/Applications/Content Manager/Dialogs/Schedule Publishing" deep="true"/>
      <source mode="on" namespace="ScheduledPublishing.sitecore.shell.Applications.ContentManager.Dialogs" assembly="ScheduledPublishing"
              folder="/sitecore/shell/Applications/Content Manager/Dialogs/Edit Scheduled Publishing" deep="true"/>
    </controlSources>
    <commands>
      <command name="custom:schedulePublishing" type="ScheduledPublishing.CustomScheduledTasks.OpenScheduledPublishingDialog, ScheduledPublishing" />
      <command name="custom:editPublishingSchedule" type="ScheduledPublishing.CustomScheduledTasks.OpenEditScheduledPublishingDialog, ScheduledPublishing" />
      <command name="custom:scheduleUnpublishing" type="ScheduledPublishing.CustomScheduledTasks.OpenScheduledPublishingDialog, ScheduledPublishing" />
    </commands>
    <pipelines>
      <getContentEditorWarnings>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetContentEditorWarnings.HasNoVersions, Sitecore.Kernel']" type="ScheduledPublishing.Pipelines.ContentEditorWarnings.HasScheduledPublishing, ScheduledPublishing" />
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>
