<?xml version="1.0"?>
<configuration>
  <sitecore>
    <controlSources>
      <source mode="on" namespace="ScheduledPublishing.sitecore.shell.Applications.ContentManager.Dialogs" assembly="ScheduledPublishing" 
              folder="/sitecore/shell/Applications/ContentManager/Dialogs/Schedule Publishing" deep="true"/>
    </controlSources>
  </sitecore>
</configuration>
